/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

  body {
      background-color: #fff;
  }

  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  #centralizar{
    margin:auto;
  }

  #heroesRotation{
    position: relative;
    right: -300px;
    /*outline: 1px solid #444;*/
    height:70px;
    width:50%;
    padding-top: -100px;
    padding-bottom: 3px;
  }

  #heroesPortrait{
    width: 90px;
    height: 85px;
  }

  .header {
  	background-image:url("/images/hots_logo.png");
  	height:70px;
  	width:110%;
  	margin:-10px;
  }

  .navbar-inverse{
    background-color: #3c1272;
  }

  .navbar-inverse .navbar-nav>li>a{
    color:white;
  }

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    min-height: 200px;
    background-color: #eee;
  }

  .page-header{
    margin:auto;
  }
